@{
    ViewBag.Title = "Жилфонд";
}

<p></p>
<h3>У вас отсутствует доступ к данному ресурсу</h3>
<p></p>

<a href="/Home/Index" style="font-size:12px;text-decoration:none">Вход</a>
<p></p>

@Styles.Render("~/Content/themes/base/css", "~/Content/css")
<link href="~/Content/themes/custom/custom.css" rel="stylesheet" type="text/css" /> 
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" type="text/css" /> 
<link href="~/Content/jquery.splitter.css" rel="stylesheet" type="text/css" /> 
<link href="~/Content/themes/base/jquery.ui.menu.css" rel="stylesheet" type="text/css" /> 
<link href="~/Content/themes/base/jquery.ui.accordion.css" rel="stylesheet" type="text/css" /> 
<link href="~/Content/themes/base/jquery.ui.button.css" rel="stylesheet" type="text/css" /> 
<link href="~/Content/themes/base/jquery.ui.datepicker.css" rel="stylesheet" type="text/css" /> 
<link href="~/Content/themes/base/jquery.ui.spinner.css" rel="stylesheet" type="text/css" /> 
<link href="~/Content/themes/base/jquery.ui.dialog.css" rel="stylesheet" type="text/css" /> 
<link rel="stylesheet" href="~/Scripts/fileupload/css/jquery.fileupload.css">
<link rel="stylesheet" href="~/Scripts/fileupload/css/jquery.fileupload-ui.css">